body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background: linear-gradient(rgba(33, 34, 36, 0.5), rgba(33, 34, 36, 0.8)), url("img/background.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* the game */
.container {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  font-family: roboto;
  color: white;
}

.game-header {
  background-color: #494d57;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  gap: 18px;
}

.game-header h1 {
  margin: 0;
  font-size: 32px;
  text-transform: uppercase;
}

.game-header .score {
  width: 360px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #30343d;
  padding: 50px 20px;
}

.game button {
  width: 150px;
  height: 150px;
  font-size: 80px;
  margin: 10px;
  border-radius: 15px;
  border: 0;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #494d57;
  padding: 30px 0px;
}

.result-container p {
  font-size: 20px;
  margin: 0px;
  padding: 5px 10px;
}
